@media (min-width: 768px) and (max-width: 960px) {
    .a {
        height: 100px;
    }
    .container{
        display: grid;
        grid-template-columns: 200px repeat(4, 190px);
        grid-template-rows: 1fr 2fr 2.5fr 1.5fr;
        grid-template-areas:
        "a a a a a"
        "b c c d d"
        "b e f g h"
        "b i i i i";
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .a{height: 75px;
    width: 100%;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1.6667fr 1.6667fr 3.3333fr 3.3333fr 1.06667fr;
        grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d d"
        "e f"
        "g h"
        "i i"
        ;
    }
}